body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1055px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:107px;
  width:140px;
  height:40px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:78px;
  width:54px;
  height:19px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  white-space:nowrap;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:80px;
  width:17px;
  height:16px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:80px;
  width:68px;
  height:16px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:116px;
  width:64px;
  height:23px;
  font-size:20px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:116px;
  width:231px;
  height:25px;
}
#u1247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:25px;
  font-family:'Helvetica-Oblique', 'Helvetica Oblique', 'Helvetica';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:116px;
  width:179px;
  height:25px;
}
#u1248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1248_input:disabled {
  color:grayText;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:116px;
  width:123px;
  height:25px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:119px;
  word-wrap:break-word;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:605px;
  width:886px;
  height:95px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:882px;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:636px;
  width:96px;
  height:33px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:203px;
  width:951px;
  height:101px;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:208px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:71px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:71px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:71px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:30px;
  width:208px;
  height:71px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:204px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:71px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:30px;
  width:170px;
  height:71px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:166px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:71px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:30px;
  width:175px;
  height:71px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:171px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:71px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:30px;
  width:138px;
  height:71px;
  color:#0000FF;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:134px;
  word-wrap:break-word;
}
#u1264_ann {
  border-width:0px;
  position:absolute;
  left:794px;
  top:30px;
  width:1px;
  height:1px;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:71px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:30px;
  width:143px;
  height:71px;
  color:#FF0000;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:139px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:59px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:241px;
  width:90px;
  height:59px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:332px;
  width:164px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:332px;
  width:125px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:11px;
  width:116px;
  height:46px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:19px;
  width:22px;
  height:26px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:26px;
  width:155px;
  height:19px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  white-space:nowrap;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:26px;
  width:44px;
  height:19px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:22px;
  width:1px;
  height:27px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:23px;
  width:116px;
  height:22px;
  font-size:16px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  white-space:nowrap;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:23px;
  width:92px;
  height:22px;
  font-size:16px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  white-space:nowrap;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:25px;
  width:19px;
  height:21px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:2px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:67px;
  width:1044px;
  height:1px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:23px;
  width:69px;
  height:22px;
  font-size:16px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1280 {
  position:absolute;
  left:806px;
  top:59px;
  visibility:hidden;
}
#u1280_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:173px;
  height:294px;
  background-image:none;
}
#u1280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:294px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:84px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:58px;
  width:110px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:96px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:132px;
  width:70px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:168px;
  width:112px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:202px;
  width:89px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:236px;
  width:146px;
  height:15px;
  font-size:13px;
  color:#169BD5;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:23px;
  width:86px;
  height:22px;
  font-size:16px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  white-space:nowrap;
}
